a:link, a:visited, a:hover, a:active {
	color: currentColor;
}

p {
	text-indent: 2em;
	line-height: 1.5;
}

ul, ol {
	line-height: 1.5;
}

div.img {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

img {
	max-width: 100%;
	box-shadow: 6px 6px 6px 0px #dadada;
}